.arrow_box {
	position: relative;
	background: #BBB;
	width:150px;
	height:50px;
	margin-top:3px;
	box-shadow:2px 2px 2px grey;
	cursor:pointer;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #BBB;
	border-width: 26px;
	margin-top: 0px;
}


.arrow_act {
	position: relative;
	background: #FF0000;
	width:150px;
	height:50px;
	margin-top:3px;
	box-shadow:2px 2px 2px grey;
	cursor:pointer;
}
.arrow_act:after, .arrow_act:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_act:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #FF0000;
	border-width: 26px;
	margin-top: 0px;
}

.btn_semi_trapez
{
border-bottom: 20px solid #597272;
 border-left: 0px solid transparent;
  border-right: 15px solid transparent;
   height:0; 
   width:90px; 
   color:#FFFFFF;
    font-size:16px;
	 font-weight:bold;
	 margin-top:5px;
	 cursor:pointer;
}

.btn_semi_trapez_onFocus
{
border-bottom: 20px solid #FF0000;
 border-left: 0px solid transparent;
  border-right: 15px solid transparent;
   height:0; 
   width:90px; 
   color:#FFFFFF;
    font-size:16px;
	 font-weight:bold;
	 margin-top:5px;
	 cursor:pointer;
}

a
{
text-decoration:none;
color:#FFFFFF;
}

.top_headBtns
{
  width:150px;
  height:22px;
  border-radius:3px;
  font-size:18px;
  color:#FFF;
  font-family:Calibri;
  font-weight:bold;
  float:left;
}

#C_care_text_hidden_b2b
{
float:right;
margin-right:5px;
margin-top:0px;
width:450px;
text-align:right;
visibility:visible;
font-family:Calibri;
font-size:12px;
color:#B22222;
}

.txtbox_crt
{
  font-size:20px;
  font-family:Calibri;
  width:300px;
  height:30px;
  border:1px solid #DDDDDD;
  border-radius:3px;
  text-align:left;
}

.font-medium
{
font-size:18px;
font-family:Calibri;
font-weight:bold;
color:#555555;
float:left;
}

.headbtn {
background-color: #EEE;
height: 30px;
width: 98%;
text-align:center;
border: 1px solid #CCC;
background: white;
cursor: pointer;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),color-stop(37%,#F1F1F1), color-stop(57%,#E1E1E1), color-stop(100%,#F6F6F6));
float: left;
color:#666666;
font-weight:bold;
font-family:Calibri;
cursor:pointer;
}

.div_dropdown_crt
{
background:#FFFFEF;
float:left;
 width:190px; 
 height:30px;
 margin-left:5px;
   border-radius:3px;
   border:1px solid lightgrey;
	 position:relative;
}
.div_drpListItems_crt
{
float:left;
border-radius:3px;
 text-align:left;
  z-index:10000;
   position:absolute;
    height:110px;
	width:190px;
	 overflow-y:scroll;
	  background:#FFFFEF;
	   margin-left:5px;
	    margin-top:30px;
		 display:none;
		 border:1px solid lightgrey;
		 border-top:0px;
}
.span_drpListItems_crt
{
text-decoration:none;
 text-align:left;
  float:left;
  width:100%;
  font-size:18px;
  font-family:Calibri;
  color:#555555;
}
.span_drpImg_crt
{
float:right;
margin-top:2px;
 margin-right:2px;
 display:none;
}
.blocks
{
 display:none;
 text-align:left;
 font-size:14px;
color:#55555;
font-family:Calibri;
font-weight:500; 
}

.smallTabFont
{
display:none;
 text-align:left;
 font-size:12px;
color:#555555;
font-family:Calibri;
font-weight:500; 
}
.headerTitle
{
 margin: 5px 3px 10px 5px;
 font-size:20px;
 font-family:Calibri;
 font-weight:bold;
 color:#444444; 
 width:100%;
 float:left;
 text-align:left;
}
.tdAlign
{
color:#0066FF;
 float:left;
  width:150px;
   word-wrap:break-word;
}
.divInner
{
height:25px; 
width:120px;
 background:#597272;
   font-family:Calibri;
   font-size:16px;
   color:#FFF;
     font-weight:bold;
    border-radius:3px;
	float:left;
}
.divSumm
{
height:25px; 
padding:0px 200px 0px 200px;
 background:#597272;
   font-family:Calibri;
   font-size:16px;
   color:#FFF;
  margin-top:0px;
   font-weight:bold;
    border-radius:3px;
}
.divPopup
{
position:absolute;
 width:500px;
  height:400px;
   margin:10% 10% 10% 10%;
    background:#FFF;
	 border:1px solid grey;
	  z-index:10; 
	  display:none;
}

.font-small
{
font-size:14px;
font-family:Calibri;
font-weight:bold;
color:#0066FF;
float:left;
}

#top_headerBtn
{
 width:100%;
  height:50px;
  background:#BBB;
 color:#FFF; 
 margin-top:15px;
 text-align:left;
 border-radius:3px;
 position:relative; 
float:left;
font-size:18px;
font-weight:bold;
font-family:Calibri;
cursor:pointer;
}